/* .chat-link {
  text-decoration: underline;
}

.white {
  background: #fff;
  color: #000;
  text-shadow: none;
}

.white a {
  color: #000 !important;
  text-shadow: none !important;
}

.white .active > a {
  border-bottom-color: #000 !important;
} */

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}
.photo-box {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
}